replicaCount: 1

image:
  repository: bankapp/cash
  pullPolicy: IfNotPresent
  tag: "0.0.1"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 8083

ingress:
  enabled: true
  className: "nginx"
  annotations: {}
  hosts:
    - host: cash.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []

httpRoute:
  enabled: false
  annotations: {}
  parentRefs:
    - name: gateway
      sectionName: http
  hostnames:
    - cash.local
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /headers

resources: {}

livenessProbe:
  httpGet:
    path: /
    port: http
readinessProbe:
  httpGet:
    path: /
    port: http

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

volumes: []
volumeMounts: []
nodeSelector: {}

tolerations: []

affinity: {}

config:
  server:
    port: 8083
  spring:
    application:
      name: cash
    security:
      oauth2:
        client:
          registration:
            keycloak:
              client-id: cash
              provider: keycloak
              authorization-grant-type: client_credentials
              scope: openid,profile,email
              client-authentication-method: client_secret_basic
          provider:
            keycloak:
              issuer-uri: http://keycloak:8080/realms/bankapp
        resourceserver:
          jwt:
            issuer-uri: http://keycloak:8080/realms/bankapp
            jwk-set-uri: http://keycloak:8080/realms/bankapp/protocol/openid-connect/certs
  feign:
    circuitbreaker:
      enabled: true
    config:
      default:
        retryer: feign.Retryer.Default