services:
  consul:
    image: consul:1.15
    ports:
      - "8500:8500"
    command: agent -dev -client=0.0.0.0
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8500/v1/status/leader"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - ./load-consul-config.sh:/tmp/load-config.sh:ro

  consul-config-loader:
    image: curlimages/curl:latest
    depends_on:
      consul:
        condition: service_healthy
    volumes:
      - ./load-consul-config.sh:/tmp/load-config.sh
    command:
      - /bin/sh
      - -c
      - |
        chmod +x /tmp/load-config.sh
        /tmp/load-config.sh

  postgres:
    image: postgres:17-alpine
    environment:
      POSTGRES_DB: bankapp
      POSTGRES_USER: bankapp
      POSTGRES_PASSWORD: bankapp
    ports:
      - "5432:5432"

  keycloak:
    image: quay.io/keycloak/keycloak:26.1.3
    container_name: keycloak
    command:
      - start-dev
      - --import-realm
    ports:
      - "8081:8080"
    environment:
      - KC_BOOTSTRAP_ADMIN_USERNAME=admin
      - KC_BOOTSTRAP_ADMIN_PASSWORD=admin
      - KEYCLOAK_IMPORT=./realm-export.json

  gateway:
    build: ./gateway
    ports:
      - "8087:8087"
    environment:
      SPRING_CLOUD_CONSUL_HOST: consul
      SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_KEYCLOAK_ISSUER-URI: http://keycloak:8081/realms/bankapp
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER-URI: http://keycloak:8081
    depends_on:
      - consul

  front:
    build: ./front
    environment:
      SPRING_CLOUD_CONSUL_HOST: consul
      SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_KEYCLOAK_ISSUER-URI: http://keycloak:8081/realms/bankapp
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER-URI: http://keycloak:8081
    depends_on:
      - consul
      - postgres

  accounts:
    build: ./accounts
    environment:
      SPRING_CLOUD_CONSUL_HOST: consul
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/bankapp
      SPRING_LIQUIBASE_URL: jdbc:postgresql://accounts-db:5432/bankapp
      SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_KEYCLOAK_ISSUER-URI: http://keycloak:8081/realms/bankapp
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER-URI: http://keycloak:8081
    depends_on:
      - consul
      - postgres

  cash:
    build: ./cash
    environment:
      SPRING_CLOUD_CONSUL_HOST: consul
      SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_KEYCLOAK_ISSUER-URI: http://keycloak:8081/realms/bankapp
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER-URI: http://keycloak:8081
    depends_on:
      - consul

  transfer:
    build: ./transfer
    environment:
      SPRING_CLOUD_CONSUL_HOST: consul
      SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_KEYCLOAK_ISSUER-URI: http://keycloak:8081/realms/bankapp
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER-URI: http://keycloak:8081
    depends_on:
      - consul

  notifications:
    build: ./notifications
    environment:
      SPRING_CLOUD_CONSUL_HOST: consul
      SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_KEYCLOAK_ISSUER-URI: http://keycloak:8081/realms/bankapp
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER-URI: http://keycloak:8081
    depends_on:
      - consul