apiVersion: v1
kind: ConfigMap
metadata:
  name: cash
data:
  application.yaml: |
    server:
      port: {{ .Values.config.server.port }}
    spring:
      application:
        name: {{ .Values.config.spring.application.name }}
      security:
        oauth2:
          client:
            registration:
              keycloak:
                clientId: {{ .Values.config.spring.security.oauth2.client.registration.keycloak.clientId }}
                provider: {{ .Values.common.global.spring.security.oauth2.client.registration.keycloak.provider }}
                authorizationGrantType: {{ .Values.common.global.spring.security.oauth2.client.registration.keycloak.authorizationGrantType }}
                scope: {{ .Values.common.global.spring.security.oauth2.client.registration.keycloak.scope }}
                clientAuthenticationMethod: {{ .Values.common.global.spring.security.oauth2.client.registration.keycloak.clientAuthenticationMethod }}
            provider:
              keycloak:
                issuerUri: {{ .Values.common.global.spring.security.oauth2.client.provider.keycloak.issuerUri }}
          resourceserver:
            jwt:
              issuerUri: {{ .Values.common.global.spring.security.oauth2.resourceserver.jwt.issuerUri }}
              jwkSetUri: {{ .Values.common.global.spring.security.oauth2.resourceserver.jwt.jwkSetUri }}
      cloud:
        kubernetes:
          discovery:
            enabled: {{ .Values.common.global.spring.cloud.kubernetes.discovery.enabled }}
        openfeign:
          client:
            config:
              default:
                connectTimeout: {{ .Values.common.global.spring.cloud.openfeign.client.config.default.connectTimeout }}
                readTimeout: {{ .Values.common.global.spring.cloud.openfeign.client.config.default.readTimeout }}
                loggerLevel: {{ .Values.common.global.spring.cloud.openfeign.client.config.default.loggerLevel }}
    management:
      zipkin:
        tracing:
          endpoint: {{ .Values.common.global.management.zipkin.tracing.endpoint }}
      tracing:
        sampling:
          probability: {{ .Values.common.global.management.tracing.sampling.probability }}
      endpoints:
        web:
          exposure:
            include: {{ .Values.common.global.management.endpoints.web.exposure.include }}
    feign:
      circuitbreaker:
        enabled: {{ .Values.common.global.feign.circuitbreaker.enabled }}
      config:
        default:
          retryer: {{ .Values.common.global.feign.config.default.retryer }}
