spring:
  application:
    name: transfer
  cloud:
    consul:
      host: localhost
      port: 8500
      config:
        enabled: true
        default-context: apps
        format: KEY_VALUE
        fail-fast: false
      discovery:
        enabled: true
        register: true
        instance-id: ${spring.application.name}:${random.value}
        service-name: ${spring.application.name}
  config:
    import:
      - "optional:consul:"

feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000
  circuitbreaker:
    enabled: true

logging:
  level:
    org.springframework.boot.context.config: info
    org.springframework.cloud.consul: info
    org.springframework.cloud.bootstrap: info
    com.ecwid.consul: info
    org.springframework.cloud.openfeign: debug