global:
  namespace: bankapp
  ingress:
    enabled: true
    className: "nginx"
    host: bankapp

accounts:
  enabled: true
  fullnameOverride: "accounts"
  ingress:
    enabled: true

cash:
  enabled: true
  fullnameOverride: "cash"
  ingress:
    enabled: true

transfer:
  enabled: true
  fullnameOverride: "transfer"
  ingress:
    enabled: true

notifications:
  enabled: true
  fullnameOverride: "notifications"
  ingress:
    enabled: true

front:
  enabled: true
  fullnameOverride: "front"
  ingress:
    enabled: true

common:
  enabled: true
  fullnameOverride: "common"

ingress:
  enabled: true
  tls: []

postgresql:
  enabled: true
  replicaCount: 1
  fullnameOverride: "db"
  auth:
    existingSecret: "postgresql-secrets"
    secretKeys:
      userPasswordKey: "password"
    username: "bankapp"
    database: "bankapp"
  primary:
    persistence:
      enabled: true
  ingress:
    enabled: false
  image:
    registry: docker.io
    repository: bitnamilegacy/postgresql
    tag: 17.6.0-debian-12-r0
    pullPolicy: IfNotPresent
    debug: false
  imagePullSecrets: [ ]
  nameOverride: ""
  serviceAccount:
    create: true
    automount: true
    annotations: { }
    name: ""
  podAnnotations: { }
  podLabels: { }
  podSecurityContext: { }
  securityContext: { }
  service:
    type: ClusterIP
    name: db
    ports:
      postgresql: 5432
    annotations: { }
  httpRoute:
    enabled: false
  resources: { }
  livenessProbe: { }
  readinessProbe: { }
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
  volumes: [ ]
  volumeMounts: [ ]
  nodeSelector: { }
  tolerations: [ ]
  affinity: { }

keycloak:
  enabled: true
  replicaCount: 1
  fullnameOverride: "keycloak"
  ingress:
    enabled: true
  auth:
    adminUser: admin
    adminPassword: admin
  image:
    registry: docker.io
    repository: bitnamilegacy/keycloak
    tag: 26.3.3-debian-12-r0
  livenessProbe: { }
  readinessProbe: { }
  service:
    name: "keycloak"
    type: ClusterIP
    port: 80
  postgresql:
    enabled: false
  externalDatabase:
    host: "db"
    port: 5432
    user: bankapp
    database: bankapp
    existingSecret: "postgresql-secrets"
    existingSecretUserKey: "password"
    existingSecretPasswordKey: "postgres-password"
  keycloakConfigCli:
    enabled: true
    configuration: {}
    image:
      registry: docker.io
      repository: bitnamilegacy/keycloak-config-cli
      tag: 6.4.0-debian-12-r11
    existingConfigmap: "realm-config"
    extraVolumes:
      - name: realm-config
        configMap:
          name: realm-config
    extraVolumeMounts:
      - name: realm-config
        mountPath: /opt/bitnami/keycloak/realm
        readOnly: true
    extraEnvVars:
      - name: IMPORT_FILES_LOCATIONS
        value: "/opt/bitnami/keycloak/realm/bankapp-realm.json"
      - name: KEYCLOAK_URL
        value: "http://keycloak:80"
      - name: KEYCLOAK_USER
        value: "admin"
      - name: KEYCLOAK_PASSWORD
        value: "admin"
      - name: KEYCLOAK_AVAILABILITY_CHECK_ENABLED
        value: "true"
      - name: KEYCLOAK_AVAILABILITY_CHECK_TIMEOUT
        value: "300s"
      - name: IMPORT_MANAGED_AUTHENTICATION_FLOW
        value: "FULL"
      - name: IMPORT_SKIP_ATTRIBUTES_FOR_FEDERATED_USER
        value: "true"
      - name: IMPORT_MANAGED_PARTIAL_IMPORT
        value: "true"
  spec:
    template:
      spec:
        containers:
          - name: postgresql
            image: docker.io/bitnamilegacy/postgresql:17.6.0-debian-12-r0
  imagePullSecrets: [ ]
  nameOverride: ""
  serviceAccount:
    create: true
    automount: true
    annotations: { }
    name: ""
  podAnnotations: { }
  podLabels: { }
  podSecurityContext: { }
  securityContext: { }
  httpRoute:
    enabled: false
  resources: { }
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
  volumes: [ ]
  volumeMounts: [ ]
  nodeSelector: { }
  tolerations: [ ]
  affinity: { }

kafka:
  enabled: true
  replicaCount: 1
  fullnameOverride: kafka
  image:
    registry: docker.io
    repository: bitnamilegacy/kafka
    #tag: "4.0.0-debian-12-r10"
    tag: "3.3.2-debian-11-r11"  # более старая стабильная версия
    pullPolicy: IfNotPresent

  # ZooKeeper
  kraft:
    enabled: false
  zookeeper:
    enabled: true
    replicaCount: 1
    persistence:
      enabled: true
      size: 1Gi

  # Минимальные настройки
  auth:
    clientProtocol: plaintext
    interBrokerProtocol: plaintext

  persistence:
    enabled: true
    size: 1Gi

  service:
    type: ClusterIP
    ports:
      client: 9092
    #tag: "4.0.0-debian-12-r10"
    #pullPolicy: IfNotPresent

  clusterId: "bankapp"
  existingKraftSecret: "kafka-secrets"