apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.config.spring.application.name }}
  namespace: {{ .Release.Namespace }}
data:
  application.yaml: |
    server:
      port: {{ .Values.config.server.port }}
    spring:
      application:
        name: {{ .Values.config.spring.application.name }}
      datasource:
        url: {{ tpl .Values.config.spring.datasource.url . | quote }}
        driverClassName: {{ .Values.config.spring.datasource.driverClassName }}
      liquibase:
        url: {{ tpl .Values.config.spring.liquibase.url . | quote }}
        driverClassName: {{ .Values.config.spring.datasource.driverClassName }}
      security:
        oauth2:
          client:
            registration:
              keycloak:
                clientId: {{ .Values.config.spring.security.oauth2.client.registration.keycloak.clientId }}
                provider: {{ .Values.common.global.spring.security.oauth2.client.registration.keycloak.provider }}
                authorizationGrantType: {{ .Values.common.global.spring.security.oauth2.client.registration.keycloak.authorizationGrantType }}
                scope: {{ .Values.common.global.spring.security.oauth2.client.registration.keycloak.scope }}
                clientAuthenticationMethod: {{ .Values.common.global.spring.security.oauth2.client.registration.keycloak.clientAuthenticationMethod }}
            provider:
              keycloak:
                issuerUri: {{ .Values.common.global.spring.security.oauth2.client.provider.keycloak.issuerUri }}
          resourceserver:
            jwt:
              issuerUri: {{ .Values.common.global.spring.security.oauth2.resourceserver.jwt.issuerUri }}
              jwkSetUri: {{ .Values.common.global.spring.security.oauth2.resourceserver.jwt.jwkSetUri }}
      kafka:
        bootstrapServers: {{ .Values.config.spring.kafka.bootstrapServers }}
        producer:
          keySerializer: {{ .Values.config.spring.kafka.producer.keySerializer }}
          valueSerializer: {{ .Values.config.spring.kafka.producer.valueSerializer }}
          properties:
            interceptor.classes: {{ .Values.config.spring.kafka.producer.properties.interceptor }}
        admin:
          properties:
            bootstrap.servers: {{ .Values.config.spring.kafka.admin.properties.bootstrapServers }}
          autoCreate: {{ .Values.config.spring.kafka.admin.autoCreate }}
        retry:
          topic:
            enabled: {{ .Values.config.spring.kafka.retry.topic.enabled }}
            attempts: {{ .Values.config.spring.kafka.retry.topic.attempts }}
            backoff:
              delay: {{ .Values.config.spring.kafka.retry.topic.backoff.delay }}
    logging:
      level:
        org.springframework.cloud.kubernetes: DEBUG
        org.springframework.web: DEBUG
        ru.yandex.accounts: DEBUG
        org.springframework.security: DEBUG
        org.springframework.security.oauth2: DEBUG
        org.springframework.web.reactive: DEBUG            
