global:
  namespace: bankapp
replicaCount: 1

secrets:
  name: front-secrets

image:
  repository: bankapp/front
  pullPolicy: IfNotPresent
  tag: "0.0.1"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 8086

ingress:
  enabled: true
  className: "nginx"
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
  hosts:
    - host: front.local
      paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: front
              port:
                number: 8086
  tls: []

httpRoute:
  enabled: false
  annotations: {}
  parentRefs:
    - name: gateway
      sectionName: http
  hostnames:
    - front.local
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /headers

resources: {}

livenessProbe:
  httpGet:
    path: /actuator/health/liveness
    port: 8080
  initialDelaySeconds: 120
  periodSeconds: 60
  timeoutSeconds: 10
  failureThreshold: 10

readinessProbe:
  httpGet:
    path: /actuator/health/readiness
    port: 8080
  initialDelaySeconds: 120
  periodSeconds: 60
  timeoutSeconds: 10
  failureThreshold: 10

rules:
  - apiGroups: [""]
    resources: ["endpoints", "services", "pods", "configmaps"]
    verbs: ["get", "list", "watch"]

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

volumes:
  - name: config-volume
    configMap:
      name: front
volumeMounts:
  - name: config-volume
    mountPath: /app/config
    readOnly: true
nodeSelector: {}

tolerations: []

affinity: {}

config:
  server:
    port: 8086
  spring:
    application:
      name: front
    security:
      oauth2:
        client:
          registration:
            keycloak:
              clientId: front