global:
  namespace: bankapp
replicaCount: 1

secrets:
  name: accounts-secrets

image:
  repository: bankapp/accounts
  pullPolicy: IfNotPresent
  tag: "0.0.1"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 8082

ingress:
  enabled: true
  className: "nginx"
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
  hosts:
    - host: accounts.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []

httpRoute:
  enabled: false
  annotations: {}
  parentRefs:
    - name: gateway
      sectionName: http
  hostnames:
    - accounts.local
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /headers

resources: {}

livenessProbe: {}
readinessProbe: {}

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

volumes:
  - name: config-volume
    configMap:
      name: accounts
volumeMounts:
  - name: config-volume
    mountPath: /app/config
    readOnly: true
nodeSelector: {}

tolerations: []

affinity: {}

rules:
  - apiGroups: [""]
    resources: ["endpoints", "services", "pods", "configmaps"]
    verbs: ["get", "list", "watch"]

config:
  server:
    port: 8082
  spring:
    application:
      name: accounts
    datasource:
      url: jdbc:postgresql://db:5432/bankapp
      driverClassName: org.postgresql.Driver
    liquibase:
      url: jdbc:postgresql://db:5432/bankapp
      driverClassName: org.postgresql.Driver
    security:
      oauth2:
        client:
          registration:
            keycloak:
              clientId: accounts
