global:
  namespace: bankapp
replicaCount: 1

secrets:
  name: notifications-secrets

image:
  repository: bankapp/notifications
  pullPolicy: IfNotPresent
  tag: "0.0.1"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

rules:
  - apiGroups: [""]
    resources: ["endpoints", "services", "pods", "configmaps"]
    verbs: ["get", "list", "watch"]

podAnnotations: {}
podLabels: {}

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 8085

ingress:
  enabled: true
  className: "nginx"
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
  hosts:
    - host: notifications.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []

httpRoute:
  enabled: false
  annotations: {}
  parentRefs:
    - name: gateway
      sectionName: http
  hostnames:
    - notifications.local
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /headers

resources: {}

livenessProbe:
  httpGet:
    path: /actuator/health/liveness
    port: 8080
  initialDelaySeconds: 120
  periodSeconds: 60
  timeoutSeconds: 10
  failureThreshold: 10

readinessProbe:
  httpGet:
    path: /actuator/health/readiness
    port: 8080
  initialDelaySeconds: 120
  periodSeconds: 60
  timeoutSeconds: 10
  failureThreshold: 10

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

volumes:
  - name: config-volume
    configMap:
      name: notifications
volumeMounts:
  - name: config-volume
    mountPath: /app/config
    readOnly: true
nodeSelector: {}

tolerations: []

affinity: {}

config:
  server:
    port: 8085
  spring:
    application:
      name: notifications
    security:
      oauth2:
        client:
          registration:
            keycloak:
              clientId: notifications
    mail:
      host: smtp.yandex.ru
      port: 465
      protocol: smtps
      username: app.oldixi@yandex.ru
      properties:
        mail:
          smtp:
            auth: true
            ssl:
              enable: true
            starttls:
              enable: false
            socketFactory:
              port: 465
              class: javax.net.ssl.SSLSocketFactory
              fallback: false
    kafka:
      bootstrapServers: kafka:9092
      producer:
        keySerializer: org.apache.kafka.common.serialization.StringSerializer
        valueSerializer: org.springframework.kafka.support.serializer.JsonSerializer
        properties:
          headers: false
      consumer:
        groupId: notifications-gr
        autoOffsetReset: earliest
        enableAutoCommit: false
        keyDeserializer: org.apache.kafka.common.serialization.StringDeserializer
        valueDeserializer: org.springframework.kafka.support.serializer.JsonDeserializer
        properties:
          packages: "*"
          headers: false
          jsonType: ru.yandex.notifications.config.BankappMsg
          interceptor: ru.yandex.notifications.config.KafkaLoggingInterceptor
      listener:
        ackMode: manual_immediate
        missingTopicsFatal: false