global:
  namespace: bankapp
replicaCount: 1

image:
  repository: bankapp/notifications
  pullPolicy: IfNotPresent
  tag: "0.0.1"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 8085

ingress:
  enabled: true
  className: "nginx"
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
  hosts:
    - host: notifications.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []

httpRoute:
  enabled: false
  annotations: {}
  parentRefs:
    - name: gateway
      sectionName: http
  hostnames:
    - notifications.local
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /headers

resources: {}

livenessProbe: {}
readinessProbe: {}

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

volumes:
  - name: config-volume
    configMap:
      name: notifications-config
volumeMounts:
  - name: config-volume
    mountPath: /app/config
    readOnly: true
nodeSelector: {}

tolerations: []

affinity: {}

config:
  server:
    port: 8085
  spring:
    application:
      name: notifications
    security:
      oauth2:
        client:
          registration:
            keycloak:
              clientId: notifications
    cloud:
      kubernetes:
        discovery:
          enabled: false
        reload:
          enabled: false
      loadbalancer:
        enabled: false
    mail:
      host: smtp.yandex.ru
      port: 465
      protocol: smtps
      username: app.oldixi@yandex.ru
      properties:
        mail:
          smtp:
            auth: true
            ssl:
              enable: true
            starttls:
              enable: false
            socketFactory:
              port: 465
              class: javax.net.ssl.SSLSocketFactory
              fallback: false