apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: bankapp
  namespace: {{ .Release.Namespace }}
  labels:
    app: bankapp
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
    kubernetes.io/ingress.class: "nginx"
spec:
  ingressClassName: nginx
  rules:
    - host: bankapp
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: front
                port:
                  number: 8086