apiVersion: v1
kind: ConfigMap
metadata:
  name: front-config
data:
  application.yaml: |
    server:
      port: {{ .Values.config.server.port }}
    spring:
      application:
        name: {{ .Values.config.spring.application.name }}
      security:
        oauth2:
          client:
            registration:
              keycloak:
                clientId: {{ .Values.config.spring.security.oauth2.client.registration.keycloak.clientId }}
                provider: {{ .Values.common.global.spring.security.oauth2.client.registration.keycloak.provider }}
                authorizationGrantType: {{ .Values.common.global.spring.security.oauth2.client.registration.keycloak.authorizationGrantType }}
                scope: {{ .Values.common.global.spring.security.oauth2.client.registration.keycloak.scope }}
                clientAuthenticationMethod: {{ .Values.common.global.spring.security.oauth2.client.registration.keycloak.clientAuthenticationMethod }}
            provider:
              keycloak:
                issuerUri: {{ .Values.common.global.spring.security.oauth2.client.provider.keycloak.issuerUri }}
          resourceserver:
            jwt:
              issuerUri: {{ .Values.common.global.spring.security.oauth2.resourceserver.jwt.issuerUri }}
              jwkSetUri: {{ .Values.common.global.spring.security.oauth2.resourceserver.jwt.jwkSetUri }}
    feign:
      circuitbreaker:
        enabled: {{ .Values.common.global.feign.circuitbreaker.enabled }}
      config:
        default:
          retryer: {{ .Values.common.global.feign.config.default.retryer }}
  