apiVersion: v1
kind: ConfigMap
metadata:
  name: notifications
data:
  application.yaml: |
    server:
      port: {{ .Values.config.server.port }}
    spring:
      application:
        name: {{ .Values.config.spring.application.name }}
      security:
        oauth2:
          client:
            registration:
              keycloak:
                clientId: {{ .Values.config.spring.security.oauth2.client.registration.keycloak.clientId }}
                provider: {{ .Values.common.global.spring.security.oauth2.client.registration.keycloak.provider }}
                authorizationGrantType: {{ .Values.common.global.spring.security.oauth2.client.registration.keycloak.authorizationGrantType }}
                scope: {{ .Values.common.global.spring.security.oauth2.client.registration.keycloak.scope }}
                clientAuthenticationMethod: {{ .Values.common.global.spring.security.oauth2.client.registration.keycloak.clientAuthenticationMethod }}
            provider:
              keycloak:
                issuerUri: {{ .Values.common.global.spring.security.oauth2.client.provider.keycloak.issuerUri }}
          resourceserver:
            jwt:
              issuerUri: {{ .Values.common.global.spring.security.oauth2.resourceserver.jwt.issuerUri }}
              jwkSetUri: {{ .Values.common.global.spring.security.oauth2.resourceserver.jwt.jwkSetUri }}            
      mail:
        host: {{ .Values.config.spring.mail.host }}
        port: {{ .Values.config.spring.mail.port }}
        protocol: {{ .Values.config.spring.mail.protocol }}
        username: {{ .Values.config.spring.mail.username }}
        properties:
          mail:
            smtp:
              auth: {{ .Values.config.spring.mail.properties.mail.smtp.auth }}
              ssl:
                enable: {{ .Values.config.spring.mail.properties.mail.smtp.ssl.enable }}
              starttls:
                enable: {{ .Values.config.spring.mail.properties.mail.smtp.starttls.enable }}
              socketFactory:
                port: {{ .Values.config.spring.mail.properties.mail.smtp.socketFactory.port }}
                class: {{ .Values.config.spring.mail.properties.mail.smtp.socketFactory.class }}
                fallback: {{ .Values.config.spring.mail.properties.mail.smtp.socketFactory.fallback }}
      kafka:
        bootstrapServers: {{ .Values.config.spring.kafka.bootstrapServers }}
        producer:
          keySerializer: {{ .Values.config.spring.kafka.producer.keySerializer }}
          valueSerializer: {{ .Values.config.spring.kafka.producer.valueSerializer }}
          properties:
            spring.json.add.type.headers: {{ .Values.config.spring.kafka.producer.properties.headers }}
        consumer:
          groupId: {{ .Values.config.spring.kafka.consumer.groupId }}
          autoOffsetReset: {{ .Values.config.spring.kafka.consumer.autoOffsetReset }}
          enableAutoCommit: {{ .Values.config.spring.kafka.consumer.enableAutoCommit }}
          keyDeserializer: {{ .Values.config.spring.kafka.consumer.keyDeserializer }}
          valueDeserializer: {{ .Values.config.spring.kafka.consumer.valueDeserializer }}
          properties:
            spring.json.trusted.packages: "{{ .Values.config.spring.kafka.consumer.properties.packages }}"
            spring.json.use.type.headers: {{ .Values.config.spring.kafka.consumer.properties.headers }}
            spring.json.value.default.type: {{ .Values.config.spring.kafka.consumer.properties.jsonType }}
            interceptor.classes: {{ .Values.config.spring.kafka.consumer.properties.interceptor }}
        listener:
          ackMode: {{ .Values.config.spring.kafka.listener.ackMode }}
          missingTopicsFatal: {{ .Values.config.spring.kafka.listener.missingTopicsFatal }}         
    management:
      zipkin:
        tracing:
          endpoint: {{ .Values.common.global.management.zipkin.tracing.endpoint }}
      tracing:
        sampling:
          probability: {{ .Values.common.global.management.tracing.sampling.probability }}
      endpoints:
        web:
          exposure:
            include: {{ .Values.common.global.management.endpoints.web.exposure.include }}