apiVersion: v1
kind: ConfigMap
metadata:
  name: notifications
data:
  application.yaml: |
    server:
      port: {{ .Values.config.server.port }}
    spring:
      application:
        name: {{ .Values.config.spring.application.name }}
      security:
        oauth2:
          client:
            registration:
              keycloak:
                clientId: {{ .Values.config.spring.security.oauth2.client.registration.keycloak.clientId }}
                provider: {{ .Values.common.global.spring.security.oauth2.client.registration.keycloak.provider }}
                authorizationGrantType: {{ .Values.common.global.spring.security.oauth2.client.registration.keycloak.authorizationGrantType }}
                scope: {{ .Values.common.global.spring.security.oauth2.client.registration.keycloak.scope }}
                clientAuthenticationMethod: {{ .Values.common.global.spring.security.oauth2.client.registration.keycloak.clientAuthenticationMethod }}
            provider:
              keycloak:
                issuerUri: {{ .Values.common.global.spring.security.oauth2.client.provider.keycloak.issuerUri }}
          resourceserver:
            jwt:
              issuerUri: {{ .Values.common.global.spring.security.oauth2.resourceserver.jwt.issuerUri }}
              jwkSetUri: {{ .Values.common.global.spring.security.oauth2.resourceserver.jwt.jwkSetUri }}
      cloud:
        kubernetes:
          discovery:
            enabled: {{ .Values.config.spring.cloud.kubernetes.discovery.enabled }}
          reload:
            enabled: {{ .Values.config.spring.cloud.kubernetes.reload.enabled }}
        loadbalancer:
          enabled: {{ .Values.config.spring.cloud.loadbalancer.enabled }}              
      mail:
        host: {{ .Values.config.spring.mail.host }}
        port: {{ .Values.config.spring.mail.port }}
        protocol: {{ .Values.config.spring.mail.protocol }}
        username: {{ .Values.config.spring.mail.username }}
        properties:
          mail:
            smtp:
              auth: {{ .Values.config.spring.mail.properties.mail.smtp.auth }}
              ssl:
                enable: {{ .Values.config.spring.mail.properties.mail.smtp.ssl.enable }}
              starttls:
                enable: {{ .Values.config.spring.mail.properties.mail.smtp.starttls.enable }}
              socketFactory:
                port: {{ .Values.config.spring.mail.properties.mail.smtp.socketFactory.port }}
                class: {{ .Values.config.spring.mail.properties.mail.smtp.socketFactory.class }}
                fallback: {{ .Values.config.spring.mail.properties.mail.smtp.socketFactory.fallback }}
    feign:
      circuitbreaker:
        enabled: {{ .Values.common.global.feign.circuitbreaker.enabled }}
      config:
        default:
          retryer: {{ .Values.common.global.feign.config.default.retryer }}            
